button {
    border: none;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    width: 42px;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #DBDBDA;
    margin: 0px 2px;
  }
  
  button:hover {
   color: #BABAB9;
  }
 
  #numberContainer {
    border-radius: 30px; /* Adjust the border radius as needed */
    overflow: hidden; /* Clip the content to prevent overflow */
    background-color:#DBDBDA;
    display:  flex;
    justify-content: center;
    user-select: none;
  }
