button {
    border: none;
    text-align: center;
    line-height: 38px;
    font-size: 21px;
    width: 50px;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #DBDBDA;
  }

  button:hover {
   color: #BABAB9;
  }
 
  #numberContainer {
    border-radius: 30px; /* Adjust the border radius as needed */
    overflow: hidden; /* Clip the content to prevent overflow */
    background-color:#DBDBDA;
    display:  flex;
    justify-content: center;
  }
