button {
    border: none;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    width: 47px;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #DBDBDA;
    user-select: none;
  }

  button:hover {
   color: #BABAB9;
  }
 
  #numberContainer {
    border-radius: 30px; /* Adjust the border radius as needed */
    overflow: hidden; /* Clip the content to prevent overflow */
    background-color:#DBDBDA;
    display:  flex;
    justify-content: center;
  }

  .copyright {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 40px;
  }