.btnDiff {
    padding: 0 48px 0 0;
    display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 999px;
    font-weight: 600;
}

.btnDiff__i1 {
    background-color: rgb(127 127 127);
    color: rgb(225 225 225);
    padding: 16px;
    outline: 2px solid rgb(127 127 127);
    border-radius: 999px;
    font-weight: 500;
}

.btnDiff__i2:hover {
    color: rgb(127 127 127);
    transition: 0.2s;
}

.btnFunc__wrap {
    margin: 24px 0 12px;
    display: flex;
    justify-content: space-between;
}

.btnFunc__img {
    display: flex;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 12px;
    background-color: rgb(225 225 225);
    color: rgb(127 127 127);
}

.btnFunc__hint {
    position: relative;
}

.hint__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    color: rgb(225 225 225);
    background: rgb(127 127 127);
    font-size: 16px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
}

.btnFunc__note {
    position: relative;
    outline: 3px solid rgb(127 127 127);
}

.note__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    color: rgb(225 225 225);
    background: rgb(127 127 127);
    font-size: 16px;
    height: 20px;
    width: 20px;
    font-size: 8px;
    border-radius: 50%;   
}

.btnFunc__newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225 225 225);
    border-radius: 999px;
    padding: 0 24px;
    font-weight: 600;
}