.btnWarp {
    margin: 0 auto;
}

.btnDiff {
    padding: 0 48px 0 0;
    display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 999px;
    font-weight: 600;
}

.btnDiff__i1 {
    background-color: rgb(127 127 127);
    color: rgb(225 225 225);
    padding: 14px 16px;
    outline: 2px solid rgb(127 127 127);
    border-radius: 999px;
    font-weight: 500;
}

.btnDiff__i2:hover {
    color: rgb(127 127 127);
    transition: 0.2s;
}

.btnFunc__wrap {
    margin: 18px 0 8px;
    padding: 0 24px;
    display: flex;
    gap: 32px; 
}

.btnFunc__img {
    display: flex;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(225 225 225);
    color: rgb(127 127 127);
    cursor: pointer;
}

.btnFunc__hint {
    position: relative;
}

.hint__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    color: rgb(225 225 225);
    background: rgb(127 127 127);
    font-size: 16px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
}

.btnFunc__note {
    position: relative;
    outline: 3px solid rgb(127 127 127);
}

.note__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    color: rgb(225 225 225);
    background: rgb(127 127 127);
    font-size: 16px;
    height: 20px;
    width: 20px;
    font-size: 8px;
    border-radius: 50%;   
}

.btnFunc__newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225 225 225);
    border-radius: 999px;
    padding: 0 20px;
    font-weight: 600;
}

.btnFunc__img:hover, .note__badge:hover, .hint__badge:hover {
    color: #BABAB9;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    width: 20%;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diff-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BABAB9;
    text-align: center;
    margin: 2% auto;
    width: 50%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.close:hover,
.close:focus {
    color: #ff5b5b;
}