#table {
  /* width: 360px; */
  margin: 12px 0px;
}
.tableRow {
  display: flex;
  user-select: none;
}
.tile {
  border: 2px solid #dcd6d3; /* Use outline instead of border */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  font-size: 24px;
  padding: 0px;
}
#row-2,
#row-5 {
  border-bottom: 2px solid #dcd6d3; /*it seem like 3px beacase 2px +1px+1px from each title border top and bottom*/
}
#row-0 {
  border-top: 3px solid #dcd6d3;
}
#row-8 {
  border-bottom: 3px solid #dcd6d3;
}
.col-2,
.col-5 {
  border-right: 3px solid #dcd6d3;
}
.col-0 {
  border-left: 4px solid #dcd6d3;
}
.col-8 {
  border-right: 4px solid #dcd6d3;
}
.isActive {
  background-color: #A9A9A9;
}
.isSelect {
  background-color: 	#808080;
}
