#table {
    /* width: 360px; */
    margin: 1% 0px 1.5%;
}
.tableRow {
    display: flex;
    user-select: none;
}
.tile {
    border: 2px solid #DCD6D3; /* Use outline instead of border */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    font-size: 22px;
    width: 42px;
}
#row-2, #row-5 {
    border-bottom: 2px solid #DCD6D3; /*it seem like 3px beacase 2px +1px+1px from each title border top and bottom*/
  }
#row-0 {
    border-top: 4px solid #DCD6D3;
}
#row-8 {
    border-bottom: 4px solid #DCD6D3;
}
.col-2,.col-5 {
    border-right: 4px solid #DCD6D3;
}
.col-0 {
    border-left: 6px solid #DCD6D3;
}
.col-8 {
    border-right: 6px solid #DCD6D3;
}
.isActive {
    background-color: #919191;
}
.isSelect {
    background-color: #5D5C5C!important;
}

.falseAnswer {
    color: #D22027;
}
.trueAnswer {
    color: #7BD2F6;
}

.tile:empty {
    justify-content: center;
    align-items: center;
}

.tile:not(:empty) {
    flex-wrap: wrap;
}

.noteNumber{
    width: 12px;
    height: 12px;
    font-size: 10px;
    display: none;
    text-align: center;
    color: #827b2ea8;
}

.wrongBackground{
    background-color: #e49295;
}