

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #C1BCB9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



div#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}